.text-pointer {
    display: flex;
    gap: 1.5rem;
    margin-left: 3rem;
    margin-top: 1rem;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6rem;
    height: 2rem;
    background: darkcyan;
    border-radius: 0.7rem;
    cursor: pointer;
    border: none;
    color: white;
}

.text-pointer-box a {
    text-decoration: none;
}

button:hover {
    background-color: #1d1d1d;
}

@media only screen and (max-width: 768px) {
    .text-pointer {
        gap: 1rem;
        margin-left: 2rem;
    }
}