@import url(header.css);






.name {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    margin-top:5rem;
}



.card {
    width: 10rem;
    height: 15rem;
    align-items: center;
    display: flex;

    
}

.books {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 10px;
    
    
}


