.catalogues {
    margin-top: 8rem;
    margin-bottom: 4rem;
}

.catalogues-text {
    margin-left: 3rem;
}

@media only screen and (max-width: 768px) {
    .catalogues-text {
        text-align: center;
        margin-left: 0;
    }
}