.collection-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.collection-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    background-color: #33685b;
}

.collection-icon i {
    font-size: 13rem;
    color: white;
}

.collection-text {
    width: 32rem;
}

.read {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    color: #33685b;
}

.text {
    text-align: justify;
}

.c-button {
    margin-top: 0.5rem;
}