.trend { 
    padding-top: 150px;
    color: black;
    font-family:'Courier New', Courier, monospace;
    font-size: medium;
    font-stretch: extra-condensed;
    margin-left: 20px;
}


.forward {
   
   margin-left: 45rem;
   padding-top: 30px;
   font-family: 'Courier New', Courier, monospace;
   font-size: 14px;
   font-weight: 100;

}



.top-books {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin-top: 2rem;
    
}

.card {
    width: 10rem;
    height: 15rem;
    border: 3px solid black;
}

.mini {
    font-size: 2rem;
    font-weight: 600px;
}



.first, .second, .third, .fourth, .fifth {
    align-items: center;
    font-size: 10.6px;
    text-align: center;
}



