.container {
    background-color: gray;
    display: flex;
    align-items: center;
    padding: 5rem 5rem ;
    gap: 0.5rem;
}

.container-text {
    color: white;
}

.container-text h3{
    margin-top: 5px;
}

.container-text p{
    margin-top: 8px;
}

.container-img img{
    border-radius: 20rem 20rem 0 0;
}

.c-icon {
    display: flex;
    justify-content: start;
    gap: 0.5rem;
    margin-top: 0.5rem;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: white;
}

.icon > i {
    color: black;
    font-size: 1.5rem
}

.icon-b > button {
    width: 6rem;
    height: 2rem;
    background: white;
    color: black;
    margin-top: 0.5rem;
}

.box {
    display: flex;
    margin-left: 3rem;
    margin-top: 0.5rem;
}

.box input {
    width: 18rem;
    height: 2rem;
    outline: none;
    border: none;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    padding-left: 0.5rem;
}


.box-button button {
    width: 4rem;
    height: 2rem;
    background: darkcyan;
    color: white;
    border: none;
    border-bottom-right-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    margin-left: -1rem;
}

@media only screen and (max-width: 768px) {
    .container-text {
        margin-left: 2rem;
    }

    .box {
        margin-left: 2rem;
    }
}

@media only screen and (max-width: 426px) {
    .container-text {
        padding-top: 6.5rem;
        margin-left: 1.5rem;
        color: white;
    }

    .box {
        margin-left: 1.5rem;
    }

    .container {
        width: 100%;
        height: 20rem;
    }
}