.genre-main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.genre-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8rem;
    height: 3rem;
    background-color: black;
    border-radius: 0.7rem;
    margin-top: 1rem;
    color: white;
}

.genre-text a {
    text-decoration: none;
    color: white;
}

@media only screen and (max-width: 768px) {
    .genre-main {
        margin-top: 2.5rem;
    }

    .gen {
        margin-top: 5rem;
        margin-bottom: 2rem;
    }
}