.types {
    width: 100%;
    height: 20rem;
    background-color: #8fc5b8;
    margin-top: 7rem;
}

.types-text {
    text-align: center;
    padding-top: 2.5rem;
    color: white;
}

.types-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}

.types-items {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9rem;
    height: 9rem;
    background-color: #33685b;
    border-radius: 50%;
}

.types-items i {
    font-size: 4.5rem;
    color: rgb(241, 227, 227);
}

.types-items-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
    color: #088383;
}

@media only screen and (max-width: 768px) {
    .types {
        height: 108.5rem;
    }

    .types-text {
        font-size: 1.7rem;
    }

    .types-content {
        flex-direction: column;
    }

    .types-items {
        width: 13rem;
        height: 13rem;
    }

    .types-items i {
        font-size: 6.5rem;
    }

    .types-items-text {
        font-size: 1.5rem;
    }

}

@media only screen and (max-width: 426px) {
    .types {
        height: 90rem;
    }

    .types-items {
        width: 10rem;
        height: 10rem;
    }

    .types-items i {
        font-size: 4.5rem;
    }
}